<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "jp" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <div class="home">
          <div class="space-30"> </div> 
          <div class="space-30"> </div> 

          <div style="text-align: center">
            {{ content }}
          </div>
          
          <div class="space"> </div>    
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

